<div class="main__titlebox">
  <div class="main__logo">
    <a href="/">
      <img class="logo__lorec" src="/logo/lorec.svg" alt="logo">
    </a>
  </div>
</div>
<div class="main__searchbox">
  <div class="main__inputbox">
    <select class="server__list">
    </select>
    <input type="text" class="username" placeholder="소환사명을 입력하세요">
    <button class="show_record_btn">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
</div>