@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html {
  background-color: #545454;
}

.main__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__titlebox {
  height: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__searchbox {
  width: 497px;
  height: 46px;
}

.main__inputbox {
  display: flex;

  width: 100%;
<<<<<<< HEAD
  height: 100%;
=======
  height: 95%;

  border: 0;
  font-size: 18px;

  background-color: #F5F5F5;

  padding-left: 0.5em;
  outline: none;
}

.theme-mode {
  display: none;
}

::placeholder {
  color: #24292e;
>>>>>>> 19ff79b6c99f90a3d771679597228785ea7ba6ca
}

.server__list {
  width: 13%;
  height: 100%;

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  text-align: center;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

  border: 0;

  font-weight: 700;
  background-color: #F5F5F5;
<<<<<<< HEAD
  color: #24292e;
=======
  color:#24292e;
>>>>>>> 19ff79b6c99f90a3d771679597228785ea7ba6ca

  font-size: 16px;

  cursor: pointer;

  outline: none;
}

@supports not (text-align-last: center) {
  .server__list {
<<<<<<< HEAD
    padding-left: 1.3em;
=======
      padding-left: 1.142em;
>>>>>>> 19ff79b6c99f90a3d771679597228785ea7ba6ca
  }
}

.main__inputbox input {
  width: 74%;
  height: 100%;

  border: 0;
  font-size: 18px;

  padding: 0;
  margin: 0;

  background-color: #F5F5F5;

  padding-left: 0.5em;
  outline: none;
}

.theme-mode {
  display: none;
}

::placeholder {
  color: #24292e;
}

.server__list::-ms-expand {
  display: none;
  /* IE 10, 11 */
}

.server__list option{
  color: #24292e;
}

.show_record_btn {
  width: 13%;
  height: 100%;

  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  
  border-style: solid;
  border-width: 1px;
  padding: 0;
  margin-left: 0;
  
  border: 0;

  font-weight: 700;
  background-color: #F5F5F5;
  color:#24292e;

  font-size: 18px;

  cursor:pointer;
}

.thisweekrotations {
  padding: 40px;
}

.content__champrotations {
  display: flex;
}

.rotations__champbox img {
  width: 68px;
  height: 68px;
}

.rotation__wrapper {
  position: relative;
}

.champ_namebox {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 63px;
  height: 20px;

  top: 112%;
	left: 50%;

  outline-style: groove;

  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;

  transform: translate(-50%, -50%);

  background-color: azure;
}

.champ_namebox span {
  text-align: center;

  background-color: azure;
}

.main__footer {
  background-color: #545454;
}