@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

/* .main__content {
  background-color: #FFFAFA;
} */
a {
  color: #24292e;
  text-decoration-line: none;
}

.main__header {
  background-color: #545454;

  display: flex;
  justify-content: space-between;

  height: 80px;

  align-items: center;

  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.main__logo {
  padding: 8px 35px;
}

.main__logo a img {
  width: 140px;
  height: 50px;
}

.main__inputbox {
  display: flex;

  width: 300px;
  height: 32px;
}

.main__inputbox input {
  width: 100%;
  height: 95%;

  border: 0;
  font-size: 14px;

  padding-left: 0.5em;
  outline: none;
}

::placeholder {
  color: #24292e;
  font-size: 12px;
}

.server__list {
  width: 18%;
  height: 100%;

  appearance: none;
  -moz-appearance: none; /* Firefox */ 
  -webkit-appearance: none; /* Safari and Chrome */

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

  border: 0;

  padding: 0;
  margin-right: 0;
  text-align-last: center;
  -moz-text-align-last: center;
  
  font-weight: 700;
  background-color: white;
  color:#24292e;

  font-size: 12px;

  outline: none;

  cursor:pointer;
}

@supports not (text-align-last: center) {
  .server__list {
      padding-left: 1em;
  }
}

.server__list::-ms-expand{
	display: none; /* IE 10, 11 */
}

.server__list option{
  color: #24292e;
}

.show_record_btn {
  width: 18%;
  height: 100%;

  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  
  border-style: solid;
  border-width: 1px;
  padding: 0;
  margin-left: 0;
  
  border: 0;

  font-weight: 700;
  background-color: white;
  color:#24292e;

  font-size: 12px;

  cursor:pointer;
}

.content__userprofile,
.matchrecord {
  margin-top: 30px;
}

.content__userprofile {
  height: 200px;
  width:  1050px;

  background-color: #F5F5F5;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.22);
  border-radius: 1em;

  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.profile__left {
  display: flex;

  padding: 0 30px;
}

.icon__warrap {
  position: relative;
}

.profile__iconbox img{
  border-radius: 0.6em;
  vertical-align: middle;
}

.profile__level {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 17px;

  left: 50%;

  background-color: #24292e;
  border-radius: 0.6em;

  font-size: 12px;
  color: white;

  transform: translate(-50%, -50%);
}

.summonerName {
  font-size: 25px;
  font-weight: bold;
}

.profile__name__update {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 8px;
}

.match_update_btn {
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 18px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.match_update_btn:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
.match_update_btn:active {
	position:relative;
	top:1px;
}

.profile__right {
  display: flex;
}

.solo-rank-text,
.free-rank-text {
  font-size: 13px;
}

.solo-rank,
.free-rank {
  display: flex;
  /* flex-direction: column; */
  align-items: center;

  padding: 0 30px;
}

.solo-rank-tier,
.free-rank-tier {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.solo-tier,
.free-tier {
  font-weight: bold;
  font-size: 20px;
	
  padding: 4px;
}

.solo-ratio,
.free-ratio,
.solo-data,
.free-data {
  padding: 2px;
}

.solo-rank-text,
.free-rank-text {
  padding: 8px;
}

.solo-data,
.free-data {
  display: flex;
  justify-content: center;
}

.solo-win,
.free-win {
  color: #408FFF;
  font-weight: bold;
}

.solo-loss,
.free-loss {
  color: #cc0000;
  font-weight: bold;
}

.content__userprofile img {
  width: 135px;
  height: 135px;
}

.matchrecord {
  height: 100%;
  width:  1050px;

  background-color: #F5F5F5;

  display: flex;

  border: 1px solid rgba(0, 0, 0, 0.22);
  border-radius: 1em;

  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.matchrecord__left {
  height: 100%;
  width: 20%;
}

.matchrecord__right {
  height: 100%;
  width: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {
  display: flex;
  flex-direction: column;
	
  /* align-items: center; */
  justify-content: center;
  font-size: 11px;
}

.champion {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spell {
  display: flex;
  flex-direction: column;

  padding: 0 4px;
}

.spell_1,
.spell_2 {
  border-radius: 0.3em;
}

.main-spells {
  display: flex;
  flex-direction: column;
}

.main-spells img {
  border-radius: 0.3em;
}

.rune {
  display: flex;
  flex-direction: column;
	
  align-items: center;
  justify-content: center;

  padding: 0 4px;
}

.rune_main {
  border-radius: 50%;
  background-color: black;
}

.main-runes {
  display: flex;
  flex-direction: column;
}

.rune-top {
  border-radius: 50%;
  background-color: black;
}

.icon {
  position: relative;

  padding: 0 4px;
}

.icon span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 17px;
  height: 17px;

  background-color: #24292e;
  border-radius: 50%;

  font-size: 9px;
  color: white;

  top: 72%;
  left: 71%;
  transform: translate( -50%, -50% );
}

.icon img {
  border-radius: 50%;
  vertical-align: middle;
}

.p-icon img {
  border-radius: 0.3em;
}

.main-icon {
  position: relative;
}

.main-icon img {
  border-radius: 50%;
  vertical-align: middle;
}

.main-icon span {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 15px;
  height: 15px;

  background-color: #24292e;
  border-radius: 50%;

  font-size: 8px;
  color: white;

  top: 75%;
  left: 25%;
  transform: translate( -50%, -50% );
}

.recent-game-header {
  display: flex;
}

.match-record-wrapper {
  width: 100%;
  height: 105px;
	
  display: none;
  place-items: center;
	
  color: white;

  /* padding: 10px; */
  /* margin: 8px; */

  outline: solid 1px;

  border-radius: 0.3em;
}

#match-0 {
  margin-top: 16px;
}

.info {
  display: flex;
}

.kda_ratio {
  font-size: 12px;
}

.champion,
.kda,
.stats,
.items {
  padding: 0 5px;
}

.kda,
.stats {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.kda {
  width: 100px;
}

.k-d-a {
  font-weight: bold;
}

.result {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.result span{
  padding: 0 8px;
}

.stats {
  font-size: 11px;
}

.items {
  display: flex;

  align-items: center;
  justify-content: center;
}

.items div img {
  border: solid 1px #24292e;
  color: #24292e;
}

.items div div {
  width: 26px;
  height: 26px;
  border: solid 1px #24292e;

  margin-bottom: 2px;
}

.deaths {
  color: red;
}

.p-kill > span {
  font-size: 13px;
  color: #ff4040;
  font-weight: bold;
}

.participants {
  font-size: 12px;
  display: flex;
	
  padding: 0 10px;
	
  width: 150px;
}

.blue,
.red {
  padding: 0 4px;
}

.blue li,
.red li {
  display: flex;	
}

.blue li a,
.red li a {
  width: 50px;
  padding: 0.15em;
	
  list-style: none;
	
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  color: #FFFFFF;
}

.blue a:hover,
.red a:hover {
  text-decoration: underline;
}

.recent-game-main div table {
  width: 100%;
  border: 1px solid #444444;
  table-layout: fixed;
}

.recent-game-main div {
  padding: 4px;
}

.recent-game-main div table thead{
  width: 100%;
}

.recent-game-main div table tbody tr{
  display: flex;

  align-items: center;
  padding: 0 8px;
  width: 100%;
}

.recent-game-main div table tbody td{
  padding: 0 2px;
}

.main_name {
  width: 200px;
}
