@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

.warpper {
  font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', Sans-serif;
}

:root {
  --light-background-color: #EBEFF1;
  --light-color-sub: #F5F5F5;

  --dark-background-color: #1C1C1F;
  --dark-color-sub: #31313C;
}

.main__content {
  background-color: var(--light-background-color);
  height: 100%;
}

a {
  text-decoration-line: none;
}

.main__header {
  background-color: #545454;

  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 80px;

  align-items: center;

  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#div_load_image {
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
}

#div_load_image i {
  font-size: 50px;
  animation: rotate_image 3s linear infinite;
  transform-origin: 50% 50%;

  color: #31313C;
  /* filter: alpha(opacity=50);
  opacity: alpha*0.5; */
}

@keyframes rotate_image{
  100% {
      transform: rotate(360deg);
  }
}

.more {
  width: 100%;
  height: 40px;

  color: var(--dark-color-sub);

  background: #F3F3F3;
  border: 1.5px #DADADA solid;
  padding: 5px 10px;
  border-radius: 0.3em;
  font-weight: bold;
  font-size: 9pt;
  outline: none;

  cursor: pointer;

  margin-bottom: 15px;
}


.main__titlebox,
.main__searchbox {
  padding: 0 35px;
}

.main__searchbox {
  display: flex;
}

.theme-mode {
  display: flex;
  align-items: center;
  font-size: 23px;
  padding: 0 20px;
}

.theme-mode i {
  cursor: pointer;
}

.light-mode {
  display: block;
  color: #F5F5F5;
}

.light-mode-hide {
  display: none;
}

.dark-mode {
  color: var(--dark-background-color);
}

.dark-mode-hide {
  display: none;
}

.main__logo a img {
  width: 140px;
  height: 50px;
}

.main__searchbox {
  width: 335px;
  height: 32px;
}

.main__inputbox {
  display: flex;

  width: 100%;
  height: 100%;
}

.main__inputbox input {
  width: 70%;
  height: 100%;

  border: 0;
  font-size: 14px;

  background-color: #F5F5F5;

  padding: 0;
  margin: 0;

  padding-left: 0.5em;
  outline: none;
}

::placeholder {
  color: #24292e;
  font-size: 12px;
}

.server__list {
  width: 15%;
  height: 100%;

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  text-align: center;

  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

  border: 0;

  padding: 0;
  margin-right: 0;
  text-align-last: center;
  -moz-text-align-last: center;

  font-weight: 700;
  background-color: #F5F5F5;
  color: #24292e;

  font-size: 12px;

  outline: none;
  cursor: pointer;
}

@supports not (text-align-last: center) {
  .server__list {
    padding-left: 1em;
  }
}

.server__list::-ms-expand {
  display: none;
  /* IE 10, 11 */
}

.server__list option {
  color: #24292e;
}

.show_record_btn {
  width: 15%;
  height: 100%;

  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;

  border-style: solid;
  border-width: 1px;
  padding: 0;
  margin-left: 0;

  border: 0;

  font-weight: 700;
  background-color: #F5F5F5;
  color: #24292e;

  font-size: 12px;

  cursor: pointer;
}

.content__userprofile,
.matchrecord {
  margin-top: 30px;

  background-color: var(--dark-color-sub);
}

.content__userprofile {
  height: 140px;
  width: 990px;

  padding: 30px 30px;

  background-color: #F5F5F5;

  display: flex;
  /* justify-content: center; */
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.22);
  border-radius: 0.3em;

  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.profile__left {
  display: flex;

  width: 35%;

  /* padding-left: 30px; */
}

.icon__wrapper {
  position: relative;
}

.profile__iconbox img {
  border-radius: 0.6em;
  vertical-align: middle;
}

.profile__level {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 17px;

  left: 50%;

  background-color: #24292e;
  border-radius: 0.6em;

  font-size: 12px;
  color: white;

  transform: translate(-50%, -50%);
}

.summonerName {
  font-size: 25px;
  font-weight: bold;
}

.profile__name__update {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 8px;
}

.match_update_btn {
  /* background:linear-gradient(to bottom, #5383E8 5%, #476e9e 100%); */
  background-color: #5383E8;
  border-radius: 0.3em;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 18px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
}

.match_update_btn:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e;
}

.match_update_btn:active {
  position: relative;
  top: 1px;
}

.profile__right {
  display: flex;


  justify-content: right;

  width: 65%;
}

.solo-rank-text,
.free-rank-text {
  font-size: 13px;
}

.solo-rank,
.free-rank {
  display: flex;
  /* flex-direction: column; */
  align-items: center;

  /* padding: 0 30px; */
}

.solo-rank-tier,
.free-rank-tier {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 10px;
}

.solo-tier,
.free-tier {
  font-weight: bold;
  font-size: 20px;

  padding: 4px;
}

.solo-ratio,
.free-ratio,
.solo-data,
.free-data {
  padding: 2px;
}

.solo-rank-text,
.free-rank-text {
  padding: 8px;
}

.solo-data,
.free-data {
  display: flex;
  justify-content: center;
}

.solo-win,
.free-win {
  color: #408FFF;
  font-weight: bold;
}

.solo-loss,
.free-loss {
  color: #cc0000;
  font-weight: bold;
}

.content__userprofile img {
  width: 135px;
  height: 135px;
}

.matchrecord {
  width: 1050px;

  background-color: #F5F5F5;

  display: flex;

  border: 1px solid rgba(0, 0, 0, 0.22);
  border-radius: 0.3em;

  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.matchrecord__left {
  height: 100%;
  width: 22%;
}

.matchrecord__right {
  height: 100%;
  width: 78%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-match-record {
  width: 100%;
  height: 150px;

  font-size: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-match-record i {
  font-size: 45px;
}

.no-match-record i,
.no-match-record span {
  padding: 10px;
}

.game {
  display: flex;
  flex-direction: column;

  justify-content: center;
  font-size: 11px;

  margin-left: 12px;

  width: 100%;
}

.champion {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spell {
  display: flex;
  flex-direction: column;

  padding: 0 4px;
}

.spell_1,
.spell_2 {
  border-radius: 0.3em;
}

.main-spells {
  display: flex;
  flex-direction: column;
  padding: 2px 2px;
}

.main-spells img {
  border-radius: 0.3em;
}

.rune {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  padding: 0 4px;
}

.rune div {
  width: 26px;
  height: 26px;
}

.rune_main {
  border-radius: 50%;
  background-color: black;
}

.main-runes {
  display: flex;
  flex-direction: column;
  padding: 2px 2px;
}

.rune-top {
  border-radius: 50%;
  background-color: black;
}

.icon {
  position: relative;

  padding: 0 4px;
}

.icon span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 17px;
  height: 17px;

  background-color: #24292e;
  border-radius: 50%;

  font-size: 9px;
  color: white;

  top: 72%;
  left: 71%;
  transform: translate(-50%, -50%);
}

.icon img {
  border-radius: 50%;
  vertical-align: middle;
}

.p-icon img {
  border-radius: 0.3em;
}

.main-icon {
  position: relative;
  padding: 4px 4px;
}

.main-icon img {
  border-radius: 50%;
  vertical-align: middle;
}

.main-icon span {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 15px;
  height: 15px;

  background-color: #24292e;
  border-radius: 50%;

  font-size: 8px;
  color: white;

  top: 75%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.main-name {
  width: 126px;
  font-size: 14px;
  padding: 2px 2px;
}

.main-name:hover {
  text-decoration: underline;
}

.main-name span a {
  color: #F5F5F5;
}

.main-kda {
  width: 121px;
  text-align: center;

  font-size: 12px;
  padding: 2px 2px;
}

.main-damage {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 164px;

  font-size: 13px;
  text-align: center;
}

.progress {
  width: 50%;
  height: 9px;
  background-color: #24292e;
}

.blank {
  height: 3px;
}

.fill {
  height: 100%;
  background-color: #ff4040;
}

.main-cs {
  width: 80px;
  text-align: center;

  font-size: 13px
}

.main-item {
  width: 245px;
}

.recent-game-header {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.match-record-wrapper {
  width: 100%;
  height: 105px;

  color: #F5F5F5;
  border-radius: 0.3em;
}

.match-wrapper {
  display: none;

  margin-bottom: 16px;
}

#match-0 {
  margin-top: 16px;
}

.info {
  display: flex;
}

.kda_ratio {
  font-size: 12px;
}

.champion,
.kda,
.stats,
.items {
  padding: 0 5px;
}

.kda,
.stats {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.kda {
  width: 100px;
}

.k-d-a {
  font-weight: bold;
}

.type {
  font-weight: bold;
}

.result span {
  padding: 0 8px;
}

.stats {
  font-size: 11px;

  width: 70px;
}

.items {
  display: flex;

  align-items: center;
  justify-content: center;
}

.type,
.time-stamp,
.result,
.length {
  padding: 1px 0;
}

.items div img {
  border-radius: 0.3em;
  background-color: #515163;
}

.items div div {
  width: 26px;
  height: 26px;

  border-radius: 0.3em;

  margin-bottom: 4px;
}

.items div {
  margin: 0 0.5px;
}

.deaths {
  color: red;
}

.p-kill>span {
  font-size: 13px;
  color: #ff4040;
  font-weight: bold;
}

.participants {
  font-size: 12px;
  display: flex;

  padding: 0 10px;

  width: 100%;
}

.blue,
.red {
  padding: 0 4px;
}

.blue li,
.red li {
  display: flex;
}

.blue li a,
.red li a {
  width: 50px;
  padding: 0.15em;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  color: #FFFFFF;
}

.blue a:hover,
.red a:hover {
  text-decoration: underline;
}

.recent-game-main-hide {
  display: none;
}

.recent-game-main {
  padding: 4px 0;
}

.main-header {
  display: table;

  width: 100%;
  height: 25px;

  background-color: var(--dark-color-sub);
  color: #7B7A8E;

  font-size: 15px;

  border-bottom: solid 0.1rem #F5F5F5;
}

.main-header-result,
.main-header-kda,
.main-header-damage,
.main-header-cs,
.main-header-item {
  display: table-cell;

  text-align: center;
  vertical-align: middle;
  height: 100%;
}

.main-header-result {
  text-align: left;
  padding: 0 8px;
  height: 100%;
}

.recent-game-main div ul {
  width: 100%;
}

.recent-game-main div ul li {
  display: flex;

  align-items: center;
  color: #9E9EB1;

  padding: 4px 4px;
}

.show-game-main {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;

  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;

  width: 50px;
  height: 100%;
}

.show-game-main-btn {
  border: none;
  background: none;
}

.show-game-main-btn i {
  font-size: 23px;
  color: #F5F5F5;
  cursor: pointer;
}

.main-header {
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

#result-top ul {
  border-bottom: solid 0.1rem #F5F5F5;
}