<img class="ranked-emblem" src="/ranked-emblems/UNRANKED.png" alt="ranked-emblem">
<div class="solo-rank-tier">
  <span class="solo-rank-text">솔로랭크</span>
  <span class="solo-tier">Unranked</span>
  <span class="solo-ratio">0% 0lp</span>
  <div class="solo-data">
    <span class="solo-win">0W</span>
	&nbsp
    <span class="solo-loss">0L</span>
  </div>
</div>