<img class="ranked-emblem" src="/ranked-emblems/UNRANKED.png" alt="ranked-emblem">
<div class="solo-rank-tier">
  <span class="solo-tier">Unranked</span>
  <span class="solo-lp">0lp</span>
</div>
<div class="solo-data">
  <span class="solo-win">0W</span>
  <span class="solo-loss">0L</span>
</div>