<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/062e36f81f.js" crossorigin="anonymous"></script>
  <script src="/js/home/main.js"></script>
  <link rel="stylesheet" href="/css/home/styles.css">
  <title>루트경로</title>
</head>
<body>
  <div class="warpper">
    <div class="main__titlebox">
      <div class="main__logo"></div>
      <div class="main__title">LoL Record</div>
    </div>
    <div class="main__searchbox">
      <div class="select-country">
        <ul>
          <li>
            KR
          </li>
        </ul>
      </div>
      <div class="main__inputbox">
        <input type="text" class="username" placeholder="소환사명을 입력하세요">
        <button class="show_record_btn">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
  </div>
</body>
</html>