<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('../layout/head'); -%>
  <script src="/js/home/main.js" defer></script>
  <link rel="stylesheet" href="/css/home/showrecord.css">
  <title>LoL Record</title>
</head>

<body>
  <div class="warpper">

    <!-- header -->
    <div class="main__header">
      <%- include('../layout/header'); -%>
    </div>

    <!-- content -->
    <div class="main__content">
      <p class="notfoundid" style="margin-top: 30px;">아이디를 찾을 수 없습니다.</p>
    </div>

    <!-- footer -->
    <div class="main__footer">
      <%- include('../layout/footer'); -%>
    </div>

  </div>
</body>

</html>