<div class="icon__warrap">
  <div class="profile__iconbox">
    <img class="profileIconId" src="<%= info.profileIcon %>" alt="profileIcon">
  </div>
  <div class="profile__level">
    <span class="summonerLevel"><%= info.summonerLevel %></span>
  </div>
</div>
<div class="profile__name__update">
  <span class="summonerName"><%= info.summonerName %></span>
  <div class="update_btn">
    <a href="#" class="match_update_btn">전적갱신</a>
  </div>
</div>