<img class="ranked-emblem" src="/img/ranked-emblems/UNRANKED.png" alt="ranked-emblem">
<div class="free-rank-tier">
  <span class="free-rank-text">자유랭크</span>
  <span class="free-tier">Unranked</span>
  <span class="free-ratio">0% 0lp</span>
  <div class="free-data">
    <span class="free-win">0W</span>
	&nbsp
    <span class="free-loss">0L</span>
  </div>
</div>